@charset "utf-8";

/* CSS Document  power by BCWORKS http://www.bcworks.com */


/* this is for div
Div class right float ---> dcr
Div class left float ----> dcl
Div class right float with border  ----> dcrwb
Div class right float with border  ----> dclwb
Div class auto float with border and shadow  ----> dcash
Div class auto float for logo ----> dlogo
Button class green ----> butgreen
Button class red ----> butred
Button class blue ----> butblue
Button class gray ----> butgray
Button class black ----> butblack
text box class gray ----> boxgray
text box class white ----> boxwhite
text box class yellow ----> boxyellow
error text class red ----> etextred
accept text class green ----> acctextgreen
noteitalic text class blue ----> noteitalicblue
noteitalic text class red ----> noteitalicred
noteitalic text class yellow ----> noteitalicyellow
Image shadow class ------> imagesh
Div shadow class ------> divsh
titel class red ------> titeltextred
titel class orange ------> titeltextor
titel class black -----> titeltextblack
titel class blue ------> titeltextblue


/// you can add ...
cursor: pointer; for show hand
for link use a tag

*/


/*  link */

a:link {
    color: black;
}


/* visited link */

a:visited {
    color: black;
}


/* mouse over link */

a:hover {
    color: black;
}


/* selected link */

a:active {
    color: black;
}

.dcr {
    width: auto;
    height: auto;
    float: right;
    background-color: white;
    font-family: arial;
    font-size: 12px;
    font-style: normal;
    color: white;
}

.dcl {
    width: auto;
    height: auto;
    float: left;
    background-color: white;
    font-family: arial;
    font-size: 12px;
    font-style: normal;
    color: white;
}

.dcrwb {
    width: auto;
    height: auto;
    float: right;
    border: thin;
    border-radius: 1px;
    background-color: white;
    font-family: arial;
    font-size: 12px;
    font-style: normal;
    color: white;
}

.dclwb {
    width: auto;
    height: auto;
    float: left;
    border: thin;
    border-radius: 1px;
    background-color: white;
    font-family: arial;
    font-size: 12px;
    font-style: normal;
    color: white;
}

.dlogo {
    width: auto;
    height: auto;
    float: left;
    border: thin;
    border-radius: 0px;
    background-color: white;
}

.dcash {
    width: auto;
    height: auto;
    float: left;
    border: thin;
    border-radius: 1px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    font-family: arial;
    font-size: 12px;
    font-style: normal;
    color: white;
}

.imagesh {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.Divsh {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.butgreen {
    width: auto;
    height: auto;
    border-radius: 5px;
    border: hidden;
    background-color: #7BF837;
    font-family: arial;
    font-size: 12px;
    font-style: normal;
    color: white;
}

.butred {
    width: auto;
    height: auto;
    border-radius: 5px;
    border: hidden;
    background-color: #E10F13;
    font-family: arial;
    font-size: 12px;
    font-style: normal;
    color: white;
}

.butblue {
    width: auto;
    height: auto;
    border-radius: 5px;
    border: hidden;
    background-color: #33A4F5;
    font-family: arial;
    font-size: 12px;
    font-style: normal;
    color: white;
}

.butgray {
    width: auto;
    height: auto;
    border-radius: 5px;
    border: hidden;
    background-color: #C3C0C0;
    font-family: arial;
    font-size: 12px;
    font-style: normal;
    color: gray;
}

.butblack {
    width: auto;
    height: auto;
    border-radius: 5px;
    border: hidden;
    background-color: black;
    font-family: arial;
    font-size: 12px;
    font-style: normal;
    color: white;
}

.boxwhite {
    width: auto;
    height: auto;
    border-radius: 5px;
    border: hidden;
    background-color: #FFFFFF;
    font-family: arial;
    font-size: 12px;
    font-style: normal;
    color: black;
}

.boxyellow {
    width: auto;
    height: auto;
    border-radius: 5px;
    border: hidden;
    background-color: #fdf392;
    font-family: arial;
    font-size: 12px;
    font-style: normal;
    color: black;
}

.etextred {
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    color: red;
}

.acctextgreen {
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    color: green;
}

.noteitalicblue {
    font-family: Arial;
    font-size: 12px;
    font-style: italic;
    color: blue;
}

.noteitalicred {
    font-family: Arial;
    font-size: 12px;
    font-style: italic;
    color: red;
}

.noteitalicyellow {
    font-family: Arial;
    font-size: 12px;
    font-style: italic;
    color: yellow;
}

.titeltextred {
    font-family: Arial;
    font-size: 16px;
    font-style: bold;
    color: red;
}

.titeltextor {
    font-family: Arial;
    font-size: 16px;
    font-style: bold;
    color: rgb(250, 169, 77);
}

.titeltextblack {
    font-family: Arial;
    font-size: 16px;
    font-style: bold;
    color: black;
}

.titeltextblue {
    font-family: Arial;
    font-size: 16px;
    font-style: bold;
    color: blue;
}